main {
  padding-inline: 35.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .count,
main .presentation {
  padding: 8rem 0;
  display: flex;
}

main .count {
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

main .count h1 {
  color: var(--clr-red-900);
  font-size: 6.4rem;
  font-weight: 600;
}

main .count .content p {
  font-size: 2rem;
  margin-bottom: 0;
}

main .presentation {
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px) {
  main {
    padding-inline: 0;
  }

  main .count,
  main .presentation,
  main .presentation .content {
    align-items: center;
  }

  main .count img {
    width: 47.8rem;
  }

  main .presentation {
    flex-direction: column;
    text-align: center;
  }

  main .presentation img {
    max-width: 40.8rem;
    margin-bottom: 4.8rem;
  }

  main .presentation .content h2 {
    max-width: 48.8rem;
  }
}

@media (max-width: 375px) {
  main {
    padding-inline: 2.4rem;
  }

  main .count h1 {
    font-size: 3.2rem;
  }

  main .count .content p {
    font-size: 1.8rem;
    max-width: 32.7rem;
  }

  main .count img {
    width: 32.6rem;
  }

  main .presentation .content h2 {
    font-size: 3.2rem;

  }

  main .presentation img {
    max-width: 21.3rem;
  }
}